.btn {
  display: flex;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1rem;
  transition: 200ms all ease-out;
  text-transform: uppercase;
  height: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.25rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn.btn-primary {
  background: $primary-default;
  color: $background;

  &:hover {
    background: $primary-dark;
  }
}

.btn.btn-secondary {
  background: $secondary-default;
  color: $background;

  &:hover {
    background: $secondary-dark;
  }
}

.btn.btn-flat {
  background: $background;
  color: $neutral-default;
}

.btn.btn-outline {
  background: $background;
  color: $neutral-default;
  border: 1px solid $neutral-default;
}

.btn.badge {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1.5rem;
  min-width: 4.4rem;
  gap: 0.5rem;

  font-size: 0.75rem;
  text-transform: capitalize;

  background: $primary-light;
  color: $primary-default;

  &:hover {
    opacity: 0.8;
  }
}
