.step-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.step-item {
  align-items: center;
  color: $neutral-light;
  display: flex;
  font-family: $font-family;
  font-size: 1.15rem;
  font-weight: bold;
  gap: 0.5rem;
  height: 1rem;

  & > i {
    align-items: center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: 0 0.5rem;
    width: 1rem;
    height: 1rem;
  }

  & > i::after {
    content: "";
    display: block;
    margin: auto;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background: $neutral-light;
  }

  &.selected {
    overflow: show;
    color: $primary-default;

    .progress-ring {
      position: absolute;
      z-index: 1;
      opacity: 0.7;
    }

    i::after {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 1rem;
      background: $primary-default;
    }
  }
}
