.title {
  color: $neutral-darker;
  font-size: 2rem;
  font-weight: bolder;
  font-family: $font-family;

  & > .primary {
    color: $primary-default;
    padding-left: 0.5rem;
  }
}

.paragraph {
  color: $neutral-black;
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.6;
}
